---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          hola! It's Tuan Anh (or Tuan Anh Vu if you want to be formal—but “Tuan” works too). 21M, from Vietnam.
        </p>
        <p>
          Currently, other than sitting all days just for that above water GPA because I can't stand robotics,
          I do like poking random topics about computer science, especially IoT and OS vulnerabilities.
        </p>
        <p>
          ... or breaking bootloaders, reverse engineeering memes, memeware analyze, or CTFs. perhaps.
        </p>
        <p>
          I also like to work with AOSP in my free time. Currently I'm maintaining a few devices in LineageOS
          for a few end-of-life mobile devices. When phones get left behind, someone has to clean up. Checkout <Link href="https://lineageos.org" external>lineageos.org</Link>
          when you had the time!
        </p>
        <p>
          Want more broken stuff? Check out my work on my GitHub profile at <Link href="https://github.com/log1cs" external>@log1cs</Link>!
        </p>
      </div>
    </div>
  </section>
</Layout>
